.tour {
  padding-top: 0;
  padding-bottom: 90px;
  position: relative;
}
.tour-inner {
  margin: 0 auto;
  position: relative;
  width: 1280px;
}
.tour-header {
  position: relative;
}
.tour-title {
  margin: 10px;
  position: relative;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.tour-txt {
  display: block;
  position: relative;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}
.tour-main {
  padding: 25px 0;
  position: relative;
}
.tour-category {
  display: flex;
  justify-content: center;
  position: relative;
}
.tour-list {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
}

.tour-list li {
  display: flex;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}
.tour-slide-wrapper {
  margin-top: 30px;
}
.tour-slide-item {
  border: 1px solid #e8e8e8;
  overflow: hidden;
  position: relative;
  height: 355px;
  border-radius: 10px;
}
.tour-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.tour-img {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 245px;
}
.tour-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.tour-img-wrapper {
  position: relative;
}
.tour-deal-event {
  position: absolute;
  background-color: #007aff;
  border-radius: 1rem;
  top: 90%;
  left: 5%;
  z-index: 2;
  cursor: pointer;
}
.tour-deal-txt {
  font-family: "Pretendard";
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 1.4rem;
  color: #e8e8e8;
  font-weight: 700;
}
.tour-deal-desc {
  position: relative;
  color: #007aff;
  font-size: 1.5rem;
}
.tour-info {
  padding: 22px 20px;
  position: relative;
  height: calc(100% - 310px);
  /* background-color: green; */
}
.tour-good-list {
  position: relative;
}
.tour-good-list li {
  position: relative;
  margin-bottom: 10px;
}
.tour-good-info-price {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  color: #111;
  overflow: hidden;
  /* 한줄 말줄임 */
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tour-good-info-price b {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #ef3e43;
}
.tour-good-info-price em {
  position: relative;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.tour-good-info-desc {
  display: -webkit-box;
  overflow: hidden;
  position: relative;
  font-style: 1.5rem;
  color: #111;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
